body, html {
    background-color: #0f1626;
    height: 100%;
    font-family: sans-serif;
    color: #a4bbce;
}

.container {
    height: 100%;
}

.header {
    display: flex;
    font-size: 1.0em;
    color: #a4bbce;
}

.header-items {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
}

.user-score, .computer-score {
    padding: 0 5px;
}

a {
    color: #a4bbce;
    text-decoration: none;
}

a:hover {
    color: #fff;
    cursor: pointer;
}

p {
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 30px;
    color: #376399;
}

.shapes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.shape-buttons {
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    flex-direction: column;
    color: #0f1626;
    font-size: 1.2em;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    border: 2px solid #a4bbce;
    background-color: #0e1525;
    color: #a4bbce;
}

img {
    margin-top: 20px;
}

@keyframes counter {
    0% {
        color: #0f1626;
        font-size: 3em;
    }
    100% {
        color: #fff;
        font-size: 10em;
    }
}

.random {
    -webkit-animation: counter 0.7s infinite; /* Safari 4+ */
    -moz-animation:    counter 0.7s infinite; /* Fx 5+ */
    -o-animation:      counter 0.7s infinite; /* Opera 12+ */
    animation:         counter 0.7s infinite; /* IE 10+, Fx 29+ */
}

.results {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 80%;
    color: #a4bbce;
    font-size: 1.2em;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    font-family: serif;
}

.hidden {
    display: none;
}

.userresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.computerresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.centred-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 80px;
}

.result {
}

button.playagain {
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 1em;
}
