body, html {
    background-color: #0f1626;
    height: 100%;
    font-family: sans-serif;
    color: #a4bbce;
}

.container {
    height: 100%;
}

.header {
    display: flex;
    font-size: 1.0em;
    color: #a4bbce;
}

.header-items {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
}

.user-score, .computer-score {
    padding: 0 8px;
}

a {
    color: #a4bbce;
    text-decoration: none;
}

a:hover {
    color: #fff;
    cursor: pointer;
}

h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 7px;
    color: #484e5a;
}

.shapes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.shape-buttons {
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    flex-direction: column;
    color: #0f1626;
    font-size: 0.9em;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    border: 2px solid #a4bbce;
    background-color: #0e1525;
    color: #a4bbce;
}

img {
    margin-top: 5px;
    width: auto;
    height: 80px;
}

@keyframes counter {
    0% {
        color: #0f1626;
        font-size: 3em;
    }
    100% {
        color: #fff;
        font-size: 10em;
    }
}

.random {
    -webkit-animation: counter 0.7s infinite; /* Safari 4+ */
    -moz-animation:    counter 0.7s infinite; /* Fx 5+ */
    -o-animation:      counter 0.7s infinite; /* Opera 12+ */
    animation:         counter 0.7s infinite; /* IE 10+, Fx 29+ */
}

.results {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 80%;
    color: #a4bbce;
    font-size: 1em;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    font-family: serif;
}

.userresult, .computerresult  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

.winresult {
    font-size: 3em;
    color: green;
}

.centred-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.result-reason {
    padding-bottom: 10px;
}

button.playagain {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

@media (min-width: 700px) {
  button {
      padding: 20px;
      margin: 20px;
      font-size: 1.2em;
  }
  h1 {
      font-size: 2em;
      margin-bottom: 30px;
      font-weight: lighter;
  }
  button.playagain {
      margin-top: 30px;
      padding: 10px 30px;
      font-size: 1em;
  }
  .centred-item {
      padding: 0 80px;
  }
  img {
      margin-top: 20px;
      width: auto;
      height: 100%;
  }
  .results {
      font-size: 1.2em;
  }
}

.hidden {
    display: none;
}
